<div id="centre">
	<nav id="menu" role="navigation">
        <ul class="neutre">
            <li><a href="#">Eduscol</a></li>
        </ul>
        <ul class="pliable election">
            <li>ASS et ATE</li>
            <li>
                <ul>
                    <li><a href="#">Résultats</a></li>
                    <li><a href="#">Statistiques</a></li>
                    <li><a href="#">Archives</a></li>
                    <li><a href="#">Courriel</a></li>
                </ul>
            </li>
        </ul>

        <ul class="pliable election">
            <li>PEE</li>
            <li>
                <ul>
                    <li><a href="#">Résultats</a></li>
                    <li><a href="#">Statistiques</a></li>
                    <li><a href="#">Archives</a></li>
                    <li><a href="#">Courriel</a></li>
                </ul>
            </li>
        </ul>
        
        <ul class="pliable election">
            <li>Parents d'élèves</li>
            <li>
                <ul>
                    <li><a href="#">Résultats</a></li>
                    <li><a href="#">Statistiques</a></li>
                    <li><a href="#">Statistiques taux de participation</a></li>
                    <li><a href="#">Statistiques éducation prioritaire</a></li>
                    <li><a href="#">Archives</a></li>
                    <li><a href="#">Courriel</a></li>
                </ul>
            </li>
        </ul>
        
        
        <ul class="pliable admin">
            <li>Administration</li>
            <li>
                <ul>
                    <li><a href="#">Import RAMSESE</a></li>
                    <li><a href="#">Campagnes</a></li>
                    <li><a href="#">Établissements</a></li>
                    <li><a href="#">Fédérations</a></li>
                    <li><a href="#">Organisations</a></li>
                    <li><a href="#">UAIs</a></li>
                    <li><a href="#">Contacts</a></li>

                </ul>
            </li>
        </ul>
        
        <ul class="neutre" id="deconnexion">
            <li><a href="#">Déconnexion</a></li>
        </ul>
    </nav>

    <section id="page" role="main" aria-labelledby="labmain">
        <p id="labmain" class="arialabel">Contenu principal</p>
        <ul id="ariane">
            <li><a href="#">Tableau de bord</a></li>
        </ul> 
    </section>
</div>