{% extends 'base.html.twig' %}

{% block ql_menu %}{% endblock %}
{% block menu %}{% endblock %}
{% block ariane %}{% block arianeComplements %}{% endblock %}{% endblock %}
{% block contentPage %}
	{% include 'flash.html.twig' with {'flash':'info'} %}{% include 'flash.html.twig' with {'flash':'erreur'} %}
	{% if messageKO is defined %}
		<div class="message erreur">{{ messageKO }}</div>
	{% endif %}
{% endblock %}